/* CSS for the BamQC MultiQC Module */

/* BamQC statuses popovers */
.bamqc_passfail_progress .progess-bar {
  cursor: pointer;
}

.mqc-section-bamqc .popover .popover-content {
  font-size: 11px;
  max-height: 300px;
  white-space: nowrap;
  overflow: auto;
}

.popover-info .popover-title {
  background-color: #c9eaf2;
  color: #1d69ba;
}

.popover-warning .popover-title {
  background-color: #f9f3e3;
  color: #9b8520;
}

.bamqc-popover-intro {
  margin: 5px 5px 0;
  padding: 3px 5px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  font-size: 10px;
  color: #999;
  background-color: #fafafa;
}

.bamqc-popover-intro a {
  color: #999;
  text-decoration: underline;
}

.bamqc_passfail_progress {
  width: 100px;
  display: inline-block;
  margin: 0 0 -2px 20px;
}

.bamqc_alert_warning{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  width: 450px;
  display: inline-block;
  margin-left: 25px;
  margin-bottom: -2px;
  height: 25px;
  padding: 6px 50px;
  font-size: 14px;
}
